<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">支付 NAX</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex flex-wrap mb-3">
    <label style="width: 100%">NAX</label>
    <input class="form-control col" [(ngModel)]="amount" required />
    <button class="btn btn-primary" (click)="amount = deposit.toString()" *ngIf="!deposit.isNaN()">仅付保证金</button>
    <button class="btn btn-primary" (click)="amount = max.toString()">最大值</button>
  </div>
  <span *ngIf="allowance.isNaN()">获取配额中……</span>
  <div *ngIf="isInsuffientAllowance">
    当前配额：{{ allowance }} <button class="btn btn-primary" (click)="refreshAllowance()">刷新</button>
    <app-qrcode [to]="tokenService.contractAddress" func="approve" [args]="[marketService.contractAddress, currentAllowanceArg, amountArg]"></app-qrcode>
  </div>
  <div *ngIf="!allowance.isNaN() && !isInsuffientAllowance">
    <app-qrcode [to]="marketService.contractAddress" func="addOrderWithToken" [args]="[tokenService.contractAddress, orderValueArg, orderAmountArg, amountArg]"></app-qrcode>
  </div>
</div>
