<div class="container">
  <div class="row">
    <app-wallet-unlocker class="mx-auto"></app-wallet-unlocker>
  </div>
  <div class="row" *ngIf="isAvailable">
    <div class="col" [class.d-none]="isDetailOrderList">
      <app-inquiry-list></app-inquiry-list>
    </div>
    <div class="col">
      <app-order-list [(isDetail)]="isDetailOrderList"></app-order-list>
    </div>
  </div>
  <div class="p-3 text-center">
    <a href="javascript:void;" (click)="showManual()">使用说明</a>
    <a class="ml-3" href="javascript:void;" (click)="showEnglishManual()">Manual</a>
    <span> - </span>
    <a [href]="marketContractExplorerUrl">询盘合约</a>
    <a class="ml-3" [href]="managerExplorerUrl">管理合约</a>
  </div>
</div>
