<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">支付 NAS</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex flex-wrap">
    <label style="width: 100%">NAS</label>
    <input class="form-control col" [(ngModel)]="value" required />
    <button class="btn btn-primary" (click)="value = deposit.toString()" *ngIf="true || !deposit.isNaN()">仅付保证金</button>
    <button class="btn btn-primary" (click)="value = max.toString()">最大值</button>
  </div>
  <hr *ngIf="isValueValid" />
  <app-qrcode [to]="marketService.contractAddress" func="addOrderWithNas" [value]="value" [args]="args" *ngIf="isValueValid"></app-qrcode>
</div>
